body {
    margin: 0;
    display: flex;
}

div {
    height: 100vh;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 2rem;
}

#left {
    background-color: aliceblue;
    width: 25%;
}

#middle {
    background-color: bisque;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#mt,
#mb {
    width: 100%;
    border: none;
}

#mt {
    height: 50%;
    border-bottom: 1px solid black;
}

#mb {
    height: 50%;
    border-top: 1px solid black;
}

#right {
    background-color: darkseagreen;
    width: 25%;
}

#left,
#mb,
#mt,
#right {
    display: flex;
    justify-content: center;
    align-items: center;
}