body {
    margin: 0;
}

.height50 {
    height: 50vh;
    width: 100%;
    display: flex;
}

.height50 div {
    width: calc(100%/3);
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2rem;
}

#left {
    background-color: rgb(238, 168, 168);
}

#right {
    background-color: rgb(134, 218, 159);
}

#forward {
    background-color: bisque;
}

#backward {
    background-color: aliceblue;
}

#up {
    background-color: lemonchiffon;
}

#down {
    background-color: lavender;
}

#webgazerVideoContainer {
    display: none !important;
}

/* #left {
    background-color: aliceblue;
    width: 25%;
}

#middle {
    background-color: bisque;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#mt,
#mb {
    width: 100%;
    border: none;
}

#mt {
    height: 50%;
    border-bottom: 1px solid black;
}

#mb {
    height: 50%;
    border-top: 1px solid black;
}

#right {
    background-color: darkseagreen;
    width: 25%;
}

#left,
#mb,
#mt,
#right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */